<!-- Käyttäjä ei ole "kirjautunut" -->
<div style="text-align: center;">
    <h1 style="padding-top: 30px;">Kirjaudu sisään avataksesi foorumimme</h1>
    <div class="formi"><form action="/" method="POST">
        <input type="text" name="name" placeholder="Käyttäjänimi" required><br>
        <input type="password" name="password" placeholder="Salasana" minlength="10" required><br>
        <input class="inputbutton" type="submit" name="avaasivut" value="Kirjaudu"><!-- Napin kohdalla on käytetty AI:ta apuna, kun en meinannut saada itsekseni logiikkaa toimimaan. -->
    </div>
</div>